venv/
.venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.ipynb_checkpoints/

data/raw/
data/news_cache/
data/processed/backtests/

models/
hf_finbert_upload/
outputs/

.streamlit/secrets.toml

.DS_Store
Thumbs.db
.vscode/
.idea/

.gradio

hf_cache/